<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="false">

	<bean id="eReceiptSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="eReceiptDataSource" />
		<!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
		<property name="mapperLocations">
			<list>
				<!-- 采购业务部分映射文件 -->
				<value>classpath:com/dooioo/ereceipt/**/mapping/*.xml</value>
				<value>classpath:com/dooioo/job/**/mapping/*.xml</value>
			</list>
		</property>
    	<property name="configLocation" value="classpath:mybatis/mybatis-configuration.xml" />
	</bean>
	
	<bean id="mapperScannerConfigurer"  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dooioo.ereceipt.**.dao,com.dooioo.job.**.dao" />
		<property name="sqlSessionFactoryBeanName" value="eReceiptSqlSessionFactory" />
	</bean>
	
	<!-- 金蝶数据源 -->
	<bean id="easSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="easDataSource" />
		<!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
		<property name="mapperLocations">
			<list>
				<!-- 采购业务部分映射文件 -->
				<value>classpath:com/dooioo/eas/mapping/*.xml</value>
			</list>
		</property>
    	<property name="configLocation" value="classpath:mybatis/eas-mybatis-configuration.xml" />
	</bean>
	
	<bean id="easMapperScannerConfigurer"  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dooioo.eas.dao" />
		<property name="sqlSessionFactoryBeanName" value="easSqlSessionFactory" />
	</bean>
	
	<!-- 银企数据源 -->
	<bean id="bankSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="bankDataSource" />
		<!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
		<property name="mapperLocations">
			<list>
				<!-- 采购业务部分映射文件 -->
				<value>classpath:com/dooioo/bank/mapping/*.xml</value>
			</list>
		</property>
    	<property name="configLocation" value="classpath:mybatis/bank-mybatis-configuration.xml" />
	</bean>
	
	<bean id="bankMapperScannerConfigurer"  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dooioo.bank.dao" />
		<property name="sqlSessionFactoryBeanName" value="bankSqlSessionFactory" />
	</bean>
	
</beans>