<div class="boxWrapBlue pd_10 mt_5 clearfix">
	<div class="left">
		<table width="700" cellspacing="0" cellpadding="3" border="0">
			<tr>
				<td width="70" align="right">出款银行：</td>
				<td width="130">
					<select ng-model="searchQuery.bankCode" class="txtNew">
						<option value class>请选择</option>
						<option value="BOC_NET">中国银行</option>
						<option value="ICBC_CMP">工商银行</option>
					</select>
				</td>
				<td width="70" align="right">单据号：</td>
				<td width="140">
					<input type="text" class="txtNew w150" ng-model="searchQuery.billNumber" />
				</td>
			</tr>
			<tr>
				<td width="70" align="right">付款日期：</td>
				<td width="130">
					<dui-date-picker date="searchQuery.payDateFrom"></dui-date-picker> -
					<dui-date-picker date="searchQuery.payDateTo"></dui-date-picker>
				</td>
				<td width="70" align="right">业务编号：</td>
				<td width="140">
					<input type="text" class="txtNew w150" ng-model="searchQuery.serialNumber" />
				</td>
			</tr>
			<tr>
				<td width="70" align="right">收款户名：</td>
				<td width="130">
					<input type="text" class="txtNew w150" ng-model="searchQuery.receiptBankAccountName" />
				</td>
				<td width="70" align="right">收款账号：</td>
				<td width="140">
					<input type="text" class="txtNew w150" ng-model="searchQuery.receiptBankAccount" />
				</td>
			</tr>
		</table>
	</div>
	<div class="right center bdL_ccc" style="width:200px; height:60px">
		<input type="button"  href="javascript:;"
			   ng-click="search()" class="btn-small btn-blue in_block" value="搜索" />
	</div>
</div>

<div class="mt_20 clearfix mb_5">
	<span>共 <b class="red">{{init.totalCount}}</b> 条记录</span>
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;"  class="tableListNew tableNarrow mt_5">
	<tr class="trHighHead">
		<td width="80">出款银行</td>
		<td width="150">单据号</td>
		<td width="50">付款日期</td>
		<td width="80">业务编号</td>
		<td width="100">收款户名</td>
		<td width="120">收款账号</td>
		<td width="50">操作</td>
	</tr>

	<tr ng-repeat="item in list">
		<td style="word-wrap:break-word;">{{item.bankCode | bankCodeFilter}}</td>
		<td style="word-wrap:break-word;">{{item.billNumber}}</td>
		<td style="word-wrap:break-word;">{{item.payFinishTime | dateFormat}}</td>
		<td style="word-wrap:break-word;">{{item.serialNumber}}</td>
		<td style="word-wrap:break-word;">{{item.receiptBankAccountName}}</td>
		<td style="word-wrap:break-word;">{{item.receiptBankAccount}}</td>
		<td>
			<a href="javascript:void(0)" class="btn-small btn-silver in_block"
			   ng-show="item.virtualPath!=''&&item.virtualPath!=null&&havePrivilege('ereceipt_viewpdf')"
			   ng-click="queryFile($index, item.virtualPath)">查看</a>
		</td>
	</tr>
	<tr ng-show="list.size()== 0">
		<td colspan="11" align="center" class="grey999">没有查询结果返回</td>
	</tr>
</table>

<!--start 页码-->
<div class="pageNew txtRight mt_10">
	<dui-pagination
			page-size="searchQuery.pageSize"
			current-page="searchQuery.pageNo"
			total-page="paginate.totalPage" show-jump="true" ></dui-pagination>
</div>
<!--end 页码-->
