<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dooioo.bank.dao.BankBillMapper">
	<select id="getBankBillList" parameterType="java.util.Map" resultType="com.dooioo.bank.model.BankBill">
		SELECT id AS payInfoId
		,bank_Version_Id AS bankCode
		,total_Amount AS amount
		,detail_seq_id AS easSerialNumber
		,insert_Time AS payInfoCreateTime
		,explanation 
		,acc_No AS payBankAccount
		,acc_Name AS payBankAccountName
		,bank_Name AS payBankName
		,income_Acc_No AS receiptBankAccount
		,income_Acc_Name AS receiptBankAccountName
		,income_Bank_Name AS receiptBankName
		,bank_Detail_Seq_Id AS serialNumber
		,pay_Finish_Time AS payFinishTime
		,bank_Status AS bankStatus
		,bank_msg AS bankMessage
		FROM T_EBG_PaymentInfo (NOLOCK)
		<where>
			CONVERT(VARCHAR(10),pay_Finish_Time,112) = CONVERT(VARCHAR(10),#{myDate ,jdbcType=TIMESTAMP},112)
			<if test="bank_Version_id != null">
				AND bank_Version_id = #{bankCode, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>

