<div class="mt_20 clearfix mb_5">
	<span>共 <b class="red">{{init.totalCount}}</b> 条记录</span>
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;" class="tableListNew tableNarrow mt_5">
	<tr class="trHighHead">
		<td width="50">应用编码</td>
		<td width="50">应用名称</td>
		<td width="50">ip地址</td>
		<td width="150">方法名称</td>
		<td width="100">cron</td>
		<td width="50">连接状态</td>
		<td width="50">中止标识</td>
		<td width="100">备注</td>
		<td width="100">操作</td>
	</tr>

	<tr ng-repeat="item in list">
		<td style="word-wrap:break-word;">{{item.appCode}}</td>
		<td style="word-wrap:break-word;">{{item.appName}}</td>
		<td style="word-wrap:break-word;">{{item.ip}}</td>
		<td style="word-wrap:break-word;">{{item.method}}</td>
		<td style="word-wrap:break-word;">{{item.cron}}</td>
		<td style="word-wrap:break-word;">{{item.status | status}}</td>
		<td style="word-wrap:break-word;">{{item.suspendFlag | suspendFlag}}</td>
		<td style="word-wrap:break-word;">{{item.remark}}</td>
		<td>
			<a href="javascript:void(0)" class="btn-small btn-silver in_block" ng-show="havePrivilege('jobMonitor_update')"
			   ng-click="updateItem($index)">修改</a>
			<a href="javascript:void(0)" class="btn-small btn-silver in_block" ng-show="havePrivilege('jobMonitor_delete')" ng-click="deleteItem($index,item.id,item.appName,item.ip,item.method)">删除</a>
		</td>
	</tr>
	<tr ng-show="list.size()== 0">
		<td colspan="11" align="center" class="grey999">没有查询结果返回</td>
	</tr>
</table>

<!--start 页码-->
<div class="pageNew txtRight mt_10">
	<dui-pagination
			page-size="searchQuery.pageSize"
			current-page="searchQuery.pageNo"
			total-page="paginate.totalPage" show-jump="true" ></dui-pagination>
</div>
<!--end 页码-->


<div class="popLayer bubbleBox" id="editMonitorInfo">
	<div class="bubbleBoxCon pd_20">
		<input type="hidden" ng-model="monitor.id" name="id">
		<table border="0" cellpadding="0" cellspacing="0" class="tableFormNew mt_5"  dui-form-validate="monitorValidator" scroll="false">
			<tbody>
			<tr>
				<td class="tdTitle">应用编码：</td>
				<td class="request">●</td>
				<td>
					<input type="text" ng-model="monitor.appCode" ng-disabled="true"  id="appCode" dui-rule="required" class="txtNew" style="width:138px;"/>
				</td>
			</tr>
			<tr>
				<td class="tdTitle">应用名称：</td>
				<td></td>
				<td>
					<input type="text" ng-model="monitor.appName"  id="appName" class="txtNew" style="width:138px;"/>
				</td>
			</tr>
			<tr>
				<td class="tdTitle" width="60">ip地址：</td>
				<td class="request">●</td>
				<td width="320">
					<input type="text" ng-model="monitor.ip" ng-disabled="true"  id="ip" dui-rule="required" class="txtNew" style="width:138px;"/>
				</td>
			</tr>
			<tr>
				<td class="tdTitle" width="60">方法名称：</td>
				<td class="request">●</td>
				<td width="320">
					<input type="text" ng-model="monitor.method" ng-disabled="true"  id="method" dui-rule="required" class="txtNew" style="width:138px;"/>
				</td>
			</tr>
			<tr>
				<td class="tdTitle" width="60">cron：</td>
				<td class="request">●</td>
				<td width="320">
					<input type="text" ng-model="monitor.cron"  id="cron" dui-rule="required" class="txtNew" style="width:138px;"/>
				</td>
			</tr>
			<tr>
				<td class="tdTitle">中止标识：</td>
				<td class="request">●</td>
				<td>
					<select ng-model="monitor.suspendFlag" class="cg_select" style="width: 170px;" dui-rule="required">
						<option value="">请选择</option>
						<option value="1">中止</option>
						<option value="0">未中止</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="tdTitle">备注：</td>
				<td></td>
				<td><textarea class="tA w300" ng-model="monitor.remark"></textarea></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="bubbleBoxBtn">
		<a href="javascript:;" class="closePopBox btn-small btn-silver in_block" ng-click="showPop = false;">关闭</a>
		<a href="javascript:;" class="closePopBox btn-small btn-blue in_block" ng-click="confirmEdit()">提交</a>
	</div>
</div>